<a href="https://colab.research.google.com/github/PhinyadaPhen/data_viz_2022/blob/main/ProjectDashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# โหลดข้อมูล Covid

In [1]:
import pandas as pd # import ฟังก์ชัน pandas

In [2]:
from google.colab import drive # package เชื่อม google  drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

## ข้อมูลรายงาน Covid

### Data Covid-19 (12/01/2020 - 12/08/2021)

In [5]:
data_file_path = os.path.join(path,'confirmed(1).csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
datacovid1 = pd.read_csv(data_file_path)
datacovid1

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

### Data Covid-19 (12/08/2020 - 25/10/2021)

In [6]:
data_file_path = os.path.join(path,'confirmed(2).csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
datacovid2 = pd.read_csv(data_file_path)
datacovid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### Data Covid-19 (26/01/2021 - 27/02/2022)

In [7]:
data_file_path = os.path.join(path,'confirmed(3).csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
datacovid3 = pd.read_csv(data_file_path)
datacovid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

### Data Covid-19 (28/02/2022 - 18/03/2022)

In [8]:
data_file_path = os.path.join(path,'confirmed(4).csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
datacovid4 = pd.read_csv(data_file_path)
datacovid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

### รวมตาราง Data Covid ตั้งแต่วันที่ 12/01/2020 - 18/03/2022

In [9]:
datamix = pd.concat([datacovid1,datacovid2,datacovid3,datacovid4]) # รวมตาราง Data Covid ทั้ง 4 ข้อมูล โดยใช้คำสั่ง .concat()
datamix

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

## จัดการค่า missing Data Covid

In [13]:
datamix.isnull().any() # เช็คค่า missing

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

### แทนค่า missing ของ sex ด้วยค่า mode (ฐานนิยม)

In [23]:
datamix['sex'].mode() # หาค่าที่พบมากที่สุดของ sex โดยใช้ฐานนิยม

0    หญิง
dtype: object

In [34]:
datamix = datamix.fillna(value={'sex':'หญิง'}) # แทนค่า 'หญิง' ที่แสดง missing ในคอลัมน์ sex
datamix

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [35]:
set(datamix['sex']) # ดูว่ามีกลุ่มข้อมูลใดบ้าง

{'\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห'}

In [36]:
 datamix['sex'].replace({'\xa0หญิง':'หญิง',
                        'ช':'ชาย',
                        'ชาย':'ชาย',
                        'ญ':'หญิง',
                        'นาย':'ชาย',
                        'ร.ต.ท.':'ชาย',
                        'หญง':'หญิง',
                        'หญิง':'หญิง',
                        'หญิิง':'หญิง',
                        'หณิง':'หญิง',
                        'หห':'หญิง'}, inplace = True)

In [37]:
set(datamix['sex'])

{'ชาย', 'หญิง'}

In [38]:
datamix.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                      False
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

### แทนค่า missing ของ province_of_onset ด้วยค่า mode (ฐานนิยม)

In [39]:
datamix['province_of_onset'].mode() # หาค่าที่พบมากที่สุดของ province_of_onset โดยใช้ฐานนิยม

0    กรุงเทพมหานคร
dtype: object

In [40]:
datamix = datamix.fillna(value={'province_of_onset':'กรุงเทพมหานคร'}) # แทนค่า 'กรุงเทพมหานคร' ที่แสดง missing ในคอลัมน์ province_of_onset
datamix

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

In [41]:
datamix.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                      False
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset        False
district_of_onset         True
dtype: bool

In [48]:
len(set(datamix['province_of_onset']))    # ดูว่าข้อมูลใน province_of_onset มีกี่ค่า
# จะเห็นได้ว่ามี 437 ค่า แสดงว่าข้อมูลมีค่าผิดปกติ เนื่องจาก ประเทศไทยมี 77 จังหวัด

437

In [46]:
set(datamix['province_of_onset']) # ดูว่ามีอะไรบ้าง

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [49]:
datamix['province_of_onset'].replace({'\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'USA':'อื่นๆ',
                                        '\xa0กาญจนบุรี':'กาญจนบุรี',
                                        '\xa0ชลบุรี':'ชลบุรี',
                                        '\xa0ตราด':'ตราด',
                                        '\xa0นครปฐม':'นครปฐม',
                                        '\xa0สมุทรสงคราม':'สมุทรสงคราม',
                                        '\xa0สมุทรสาคร':'สมุทรสาคร',
                                        '\xa0อุทัยธานี':'อุทัยธานี',
                                        'กทม':'กรุงเทพมหานคร',
                                        'กทม.':'กรุงเทพมหานคร',
                                        'กบินทร์บุรี':'ปราจีนบุรี',
                                        'กระบี่':'กระบี่',
                                        'กระบี่ี่':'กระบี่',
                                        'กรุงเทพ':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร.':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร',
                                        'กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร',
                                        'กรุงเทพฯ':'กรุงเทพมหานคร',
                                        'กะทู้':'ภูเก็ต',
                                        'กัมพูชา':'อื่นๆ',
                                        'กาญจนบุรี':'กาญจนบุรี',
                                        'กาญจบุรี':'กาญจนบุรี',
                                        'กาญนบุรี':'กาญจนบุรี',
                                        'กาฬสิน':'กาฬสินธุ์',
                                        'กาฬสินธิ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์':'กาฬสินธุ์',
                                        'กาฬสินธุ์\xa0':'กาฬสินธุ์',
                                        'กาฬสินธ์':'กาฬสินธุ์',
                                        'กำเพงเพชร':'กำแพงเพชร',
                                        'กำแพง':'กำแพงเพชร',
                                        'กำแพงเพชร':'กำแพงเพชร',
                                        'กำแพงเพชร\xa0':'กำแพงเพชร',
                                        'กําแพงเพชร':'กำแพงเพชร',
                                        'ขอนแก่น':'ขอนแก่น',
                                        'ขอนแก่น\xa0':'ขอนแก่น',
                                        'ขอนแก่่น':'ขอนแก่น',
                                        'ขัยนาท':'ชัยนาท',
                                        'ขัยภูมิ':'ชัยภูมิ',
                                        'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
                                        'คนไทยเดินทางกลับจากต่างประเทศ':'อื่นๆ',
                                        'คลองเตย':'กรุงเทพมหานคร',
                                        'จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                        'จ.ภูเก็ต':'ภูเก็ต',
                                        'จ.ราชบุรี':'ราชบุรี',
                                        'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
                                        'จังหวัดสมุทรสาคร':'สมุทรสาคร',
                                        'จันทบุรี':'จันทบุรี',
                                        'ฉะเชองเทราร':'ฉะเชิงเทรา',
                                        'ฉะเชิงเทรา':'ฉะเชิงเทรา',
                                        'ชมพร':'ชุมพร',
                                        'ชลบุรี':'ชลบุรี',
                                        'ชลบุรี\t':'ชลบุรี',
                                        'ชลบุรี\xa0':'ชลบุรี',
                                        'ชลบุุรี':'ชลบุรี',
                                        'ชอนแก่น':'ขอนแก่น',
                                        'ชัยนาถ':'ชัยนาท',
                                        'ชัยนาท':'ชัยนาท',
                                        'ชัยบาดาล':'ลพบุรี',
                                        'ชัยภูมิ':'ชัยภูมิ',
                                        'ชัยภูมิ\xa0':'ชัยภูมิ',
                                        'ชุมพร':'ชุมพร',
                                        'ชุุมพร':'ชุมพร',
                                        'ชุุุมพร':'ชุมพร',
                                        'ดอนมดแดง':'อุบลราชธานี',
                                        'ดินแดง':'กรุงเทพมหานคร',
                                        'ตรัง':'ตรัง',
                                        'ตรััง':'ตรัง',
                                        'ตราด':'ตราด',
                                        'ตราด\xa0':'ตราด',
                                        'ตาก':'ตาก',
                                        'ตากใบ':'นราธิวาส',
                                        'ต่างจังหวัด':'อื่นๆ',
                                        'ทุ่งเสลี่ยม':'สุโขทัย',
                                        'ท้ายบ้าน':'สมุทรปราการ',
                                        'ธารโต':'ยะลา',
                                        'นคนปฐม':'นครปฐม',
                                        'นคปฐม':'นครปฐม',
                                        'นครนปฐม':'นครปฐม',
                                        'นครนาชสีมา':'นครราชสีมา',
                                        'นครนายก':'นครนายก',
                                        'นครปฐม':'นครปฐม',
                                        'นครปฐม\xa0':'นครปฐม',
                                        'นครปบม':'นครปฐม',
                                        'นครพนม':'นครพนม',
                                        'นครพนม\xa0':'นครพนม',
                                        'นครยายก':'นครนายก',
                                        'นครราขสีมา':'นครราชสีมา',
                                        'นครราชธานี':'นครราชสีมา',
                                        'นครราชศรีมา':'นครราชสีมา',
                                        'นครราชสสีมา':'นครราชสีมา',
                                        'นครราชสีมา':'นครราชสีมา',
                                        'นครราชสีมา ลพบุรี':'ลพบุรี',
                                        'นครราชสีมา\xa0':'นครราชสีมา',
                                        'นครศรธรรมราช':'นครศรีธรรมราช',
                                        'นครศรี':'นครศรีธรรมราช',
                                        'นครศรีธรมมราช':'นครศรีธรรมราช',
                                        'นครศรีธรมราช':'นครศรีธรรมราช',
                                        'นครศรีธรรมราข':'นครศรีธรรมราช',
                                        'นครศรีธรรมราช':'นครศรีธรรมราช',
                                        'นครศรีฯ':'นครศรีธรรมราช',
                                        'นครศรีีธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                        'นครศร๊ะรรมราช':'นครศรีธรรมราช',
                                        'นครสรรค์':'นครสวรรค์',
                                        'นครสรีธรรมราช':'นครศรีธรรมราช',
                                        'นครสวรรค':'นครสวรรค์',
                                        'นครสวรรค์':'นครสวรรค์',
                                        'นครสวรรค์\xa0':'นครสวรรค์',
                                        'นครสีธรรมราช':'นครศรีธรรมราช',
                                        'นครฯ':'นครศรีธรรมราช',
                                        'นคราชสีมา':'นครราชสีมา',
                                        'นครีศรีธรรมราช':'นครศรีธรรมราช',
                                        'นตรนายก':'นครนายก',
                                        'นตรปฐม':'นครปฐม',
                                        'นนทบุรี':'นนทบุรี',
                                        'นนทบุรี\xa0':'นนทบุรี',
                                        'นนทบุุรี':'นนทบุรี',
                                        'นนทุบรี':'นนทบุรี',
                                        'นนทุรี':'นนทบุรี',
                                        'นนมบุรี':'นนทบุรี',
                                        'นรศรีธรรมราช':'นครศรีธรรมราช',
                                        'นราธิวาส':'นราธิวาส',
                                        'นราธิวาส\u200b':'นราธิวาส',
                                        'นราธฺวาส':'นราธิวาส',
                                        'นอกเขต':'อื่นๆ',
                                        'นาราธิวาส':'นราธิวาส',
                                        'นาวัง':'หนองบัวลำภู',
                                        'น่าน':'น่าน',
                                        'น่าน/ฉะเชิงเทรา':'น่าน',
                                        'บางกรวย':'นนทบุรี',
                                        'บางกะปิ':'กรุงเทพมหานคร',
                                        'บางนา':'กรุงเทพมหานคร',
                                        'บางปะอิน':'พระนครศรีอยุธยา',
                                        'บางละมุง':'ชลบุรี',
                                        'บางศรีเมือง':'นนทบุรี',
                                        'บางเพียง':'สมุทรปราการ',
                                        'บึงกาฬ':'บึงกาฬ',
                                        'บึงโขงหลง':'บึงกาฬ',
                                        'บุรีรัมภ์':'บุรีรัมย์',
                                        'บุรีรัมย์':'บุรีรัมย์',
                                        'บุรีรัมย์\xa0':'บุรีรัมย์',
                                        'บุรีรัยม์':'บุรีรัมย์',
                                        'บุรีรีมย์':'บุรีรัมย์',
                                        'บ้านหลวง':'น่าน',
                                        'ปจ':'ประจวบคีรีขันธ์',
                                        'ปทึมธานี':'ปทุมธานี',
                                        'ปทุทธานี':'ปทุมธานี',
                                        'ปทุมฑานี':'ปทุมธานี',
                                        'ปทุมทานี':'ปทุมธานี',
                                        'ปทุมธาน':'ปทุมธานี',
                                        'ปทุมธานี':'ปทุมธานี',
                                        'ปทุมธานี.':'ปทุมธานี',
                                        'ปทุมธานี\xa0':'ปทุมธานี',
                                        'ปทุมธานีี':'ปทุมธานี',
                                        'ปทุมาธานี':'ปทุมธานี',
                                        'ปทุุมธานี':'ปทุมธานี',
                                        'ปธุมธานี':'ปทุมธานี',
                                        'ปมุมธานี':'ปทุมธานี',
                                        'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์',
                                        'ประจวบ':'ประจวบคีรีขันธ์',
                                        'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                        'ประจวบฯ':'ประจวบคีรีขันธ์',
                                        'ประทุมธานี':'ปทุมธานี',
                                        'ประเทศกัมพูชา':'อื่นๆ',
                                        'ปราจีนบุรี':'ปราจีนบุรี',
                                        'ปราจีบุรี':'ปราจีนบุรี',
                                        'ปลวกแดง':'ระยอง',
                                        'ปลายพระยา':'กระบี่',
                                        'ปอยเปต':'อื่นๆ',
                                        'ปัตตนรี':'ปัตตานี',
                                        'ปัตตานนี':'ปัตตานี',
                                        'ปัตตานี':'ปัตตานี',
                                        'ปัตตานีี':'ปัตตานี',
                                        'ปัตาตานี':'ปัตตานี',
                                        'ปัว':'น่าน',
                                        'ปััตตานี':'ปัตตานี',
                                        'ปุทมธานี':'ปทุมธานี',
                                        'ป่าโมก':'อ่างทอง',
                                        'พม่า':'อื่นๆ',
                                        'พรหมพิราม':'พิษณุโลก',
                                        'พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา':'พระนครศรีอยุธยา',
                                        'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา',
                                        'พะเยา':'พะเยา',
                                        'พังงา':'พังงา',
                                        'พัทยา':'ชลบุรี',
                                        'พัทลุง':'พัทลุง',
                                        'พัทลุุง':'พัทลุง',
                                        'พัังงา':'พังงา',
                                        'พิจิตร':'พิจิตร',
                                        'พิษณุโลก':'พิษณุโลก',
                                        'พิษณุโลก\xa0':'พิษณุโลก',
                                        'พิษณูโลก':'พิษณุโลก',
                                        'ฟินแลนด์':'อื่นๆ',
                                        'ภาษีเจริญ':'กรุงเทพมหานคร',
                                        'ภุเก็ต':'ภูเก็ต',
                                        'ภูุเก็ต':'ภูเก็ต',
                                        'ภููเก็ต':'ภูเก็ต',
                                        'ภูเก็ต':'ภูเก็ต',
                                        'ภูเก็็ต':'ภูเก็ต',
                                        'ภูเพียง':'น่าน',
                                        'มหาสาคาม':'มหาสารคาม',
                                        'มหาสารคาม':'มหาสารคาม',
                                        'มาเลเซีย':'อื่นๆ',
                                        'มุกดาหาร':'มุกดาหาร',
                                        'มุกาดหาร':'มุกดาหาร',
                                        'ยะลา':'ยะลา',
                                        'ยานนาวา':'กรุงเทพมหานคร',
                                        'ยโสธร':'ยโสธร',
                                        'ร.จ.จ.นราธิวาส':'นราธิวาส',
                                        'รอ':'อื่นๆ',
                                        'ระนอง':'ระนอง',
                                        'ระบุ':'อื่นๆ',
                                        'ระยอง':'ระยอง',
                                        'ระยอง\xa0':'ระยอง',
                                        'ระอยง':'ระยอง',
                                        'ราชบบุรี':'ราชบุรี',
                                        'ราชบุรี':'ราชบุรี',
                                        'ราชบุรีี':'ราชบุรี',
                                        'ราชบุรี\u200b':'ราชบุรี',
                                        'ราชุรี':'ราชบุรี',
                                        'ราชเทวี':'กรุงเทพมหานคร',
                                        'ร้องกวาง':'แพร่',
                                        'ร้อยเอ็ด':'ร้อยเอ็ด',
                                        'ลบุรี':'ลพบุรี',
                                        'ลพบุรี':'ลพบุรี',
                                        'ลพบุรี.':'ลพบุรี',
                                        'ลพบุรี\xa0':'ลพบุรี',
                                        'ลอง':'แพร่',
                                        'ลาดกระบัง':'กรุงเทพมหานคร',
                                        'ลาดพร้าว':'กรุงเทพมหานคร',
                                        'ลาว':'อื่นๆ',
                                        'ลำปาง':'ลำปาง',
                                        'ลำพูน':'ลำพูน',
                                        'ลำพูน\u200b':'ลำพูน',
                                        'ลำพููน':'ลำพูน',
                                        'ลำลูกกา':'ปทุมธานี',
                                        'วังชิ้น':'แพร่',
                                        'วังทอง':'พิษณุโลก',
                                        'วิเศษชัยชาญ':'อ่างทอง',
                                        'ศรีษะสะเกษ':'ศรีสะเกษ',
                                        'ศรีษะเกษ':'ศรีสะเกษ',
                                        'ศรีสระเกษ':'ศรีสะเกษ',
                                        'ศรีสะเกษ':'ศรีสะเกษ',
                                        'ศีรสะเกษ':'ศรีสะเกษ',
                                        'สกลนคร':'สกลนคร',
                                        'สครสวรรค์':'นครสวรรค์',
                                        'สงขลา':'สงขลา',
                                        'สงขลา\u200b':'สงขลา',
                                        'สตูล':'สตูล',
                                        'สถานที่ทำงาน':'อื่นๆ',
                                        'สพรรณบุรี':'สุพรรณบุรี',
                                        'สมถทรปราการ':'สมุทรปราการ',
                                        'สมทรสงคราม':'สมุทรสงคราม',
                                        'สมทรสาคร':'สมุทรสาคร',
                                        'สมุครปราการ':'สมุทรปราการ',
                                        'สมุครสาคร':'สมุทรสาคร',
                                        'สมุท':'สมุทรปราการ',
                                        'สมุทปราการ':'สมุทรปราการ',
                                        'สมุทรปรากร':'สมุทรปราการ',
                                        'สมุทรปรากรร':'สมุทรปราการ',
                                        'สมุทรปรากา':'สมุทรปราการ',
                                        'สมุทรปราการ':'สมุทรปราการ',
                                        'สมุทรปราการ\xa0':'สมุทรปราการ',
                                        'สมุทรศาคร':'สมุทรสาคร',
                                        'สมุทรสงคราม':'สมุทรสงคราม',
                                        'สมุทรสาคร':'สมุทรสาคร',
                                        'สมุทรสาคร\xa0':'สมุทรสาคร',
                                        'สมุทรสาคา':'สมุทรสาคร',
                                        'สมุทรสาคาร':'สมุทรสาคร',
                                        'สมุทรสาทร':'สมุทรสาคร',
                                        'สมุทรสารคร':'สมุทรสาคร',
                                        'สมุทราปราการ':'สมุทรปราการ',
                                        'สมุทราสาคร':'สมุทรสาคร',
                                        'สมุทสงคราม':'สมุทรสงคราม',
                                        'สมุทสาคร':'สมุทรสาคร',
                                        'สมุย' : 'สุราษฎร์ธานี' ,
                                        'สมุุทรปราการ' : 'สมุทรปราการ' ,
                                        'สมุุทรสงคราม' : 'สมุทรสงคราม' ,
                                        'สมุุทรสาคร' : 'สมุทรสาคร' ,
                                        'สระก้ว' : 'สระแก้ว' ,
                                        'สระบุรี' : 'สระบุรี' ,
                                        'สระบุรี\xa0' : 'สระบุรี' ,
                                        'สระแก้ว' : 'สระแก้ว' ,
                                        'สรินทร์' : 'สุรินทร์' ,
                                        'สวิสเซอร์แลนด์' : 'อื่นๆ' ,
                                        'สอง' : 'แพร่' ,
                                        'สองแคว' : 'พิษณุโลก' ,
                                        'สะพานสูง' : 'กรุงเทพมหานคร' ,
                                        'สะแก้ว' : 'สระแก้ว' ,
                                        'สัตหีบ' : 'ชลบุรี' ,
                                        'สัมผัสผู้ป่วยยืนยัน COVID20' : 'อื่นๆ' ,
                                        'สามุทรสาคร' : 'สมุทรสาคร' ,
                                        'สารคาม' : 'มหาสารคาม' ,
                                        'สารภี' : 'เชียงใหม่' ,
                                        'สิงห์บุรี' : 'สิงห์บุรี' ,
                                        'สิงห์บุรี\xa0' : 'สิงห์บุรี' ,
                                        'สุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุพรรญบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรั' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุพรรณบุรี\xa0' : 'สุพรรณบุรี' ,
                                        'สุมทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมทรสาคร' : 'สมุทรสาคร' ,
                                        'สุมุทรปราการ' : 'สมุทรปราการ' ,
                                        'สุมุทรสาคร' : 'สมุทรสาคร' ,
                                        'สุระบุรี' : 'สระบุรี' ,
                                        'สุราษ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎณ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์ฯ' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎร์์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฎ์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษร์ฎธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุรินทรื' : 'สุรินทร์' ,
                                        'สุรินทร์' : 'สุรินทร์' ,
                                        'สุรินทร์ 32150' : 'สุรินทร์' ,
                                        'สุรินทร์,รีสะเกษ' : 'สุรินทร์' ,
                                        'สุรินทร์\xa0' : 'สุรินทร์' ,
                                        'สุริมทร์' : 'สุรินทร์' ,
                                        'สุริะแก้ว' : 'สระแก้ว' ,
                                        'สุวรรณภูมิ' : 'สมุทรปราการ' ,
                                        'สุุพรรณบุรี' : 'สุพรรณบุรี' ,
                                        'สุุราษฎร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฏร์ธานี' : 'สุราษฎร์ธานี' ,
                                        'สุุราษฯ' : 'สุราษฎร์ธานี' ,
                                        'สุุรินทร์' : 'สุรินทร์' ,
                                        'สุุุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทับ' : 'สุโขทัย' ,
                                        'สุโขทัย' : 'สุโขทัย' ,
                                        'สุโขทัย\xa0' : 'สุโขทัย' ,
                                        'สูงเม่น' : 'แพร่' ,
                                        'หนวงบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองคาย' : 'หนองคาย' ,
                                        'หนองงคาย' : 'หนองคาย' ,
                                        'หนองบัวภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำพูน' : 'หนองบัวลำภู' ,
                                        'หนองบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองบัวลําภู' : 'หนองบัวลำภู' ,
                                        'หนองบััวลำภู' : 'หนองบัวลำภู' ,
                                        'หนองม่วงไข่' : 'แพร่' ,
                                        'หนอบัวลำภู' : 'หนองบัวลำภู' ,
                                        'หลายจังหวัด' : 'อื่นๆ' ,
                                        'หัวหิน' : 'ประจวบคีรีขันธ์' ,
                                        'ห้วยขวาง' : 'กรุงเทพมหานคร' ,
                                        'อยุทธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุธยา' : 'พระนครศรีอยุธยา' ,
                                        'อยุุธยา' : 'พระนครศรีอยุธยา' ,
                                        'อำนาจเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาจเจิญ' : 'อำนาจเจริญ' ,
                                        'อำนาญเจริญ' : 'อำนาจเจริญ' ,
                                        'อำนาเจริญ' : 'อำนาจเจริญ' ,
                                        'อิสราเอล' : 'อื่นๆ' ,
                                        'อุดธานี' : 'อุดรธานี' ,
                                        'อุดร' : 'อุดรธานี' ,
                                        'อุดรธาณี' : 'อุดรธานี' ,
                                        'อุดรธานี' : 'อุดรธานี' ,
                                        'อุดรธานี\xa0' : 'อุดรธานี' ,
                                        'อุดรธานีี' : 'อุดรธานี' ,
                                        'อุดรราชธานี' : 'อุดรธานี' ,
                                        'อุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์\xa0' : 'อุตรดิตถ์' ,
                                        'อุตรดิตถ์์' : 'อุตรดิตถ์' ,
                                        'อุตรดิษถ์' : 'อุตรดิตถ์' ,
                                        'อุตรดิิตถ์' : 'อุตรดิตถ์' ,
                                        'อุตรติดถ์' : 'อุตรดิตถ์' ,
                                        'อุทัยธานี' : 'อุทัยธานี' ,
                                        'อุทัยานี' : 'อุทัยธานี' ,
                                        'อุบลราขธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อุบลราชธานี\xa0' : 'อุบลราชธานี' ,
                                        'อุุครดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุดรธาน' : 'อุดรธานี' ,
                                        'อุุดรธานี' : 'อุดรธานี' ,
                                        'อุุตรดิตถ์' : 'อุตรดิตถ์' ,
                                        'อุุทัยธานี' : 'อุทัยธานี' ,
                                        'อุุบลราชธานี' : 'อุบลราชธานี' ,
                                        'อ่งทอง' : 'อ่างทอง' ,
                                        'อ่างทอง' : 'อ่างทอง' ,
                                        'อ่างทอง\xa0' : 'อ่างทอง' ,
                                        'อํานาจเจริญ' : 'อำนาจเจริญ' ,
                                        'เชิงเทรา' : 'ฉะเชิงเทรา' ,
                                        'เชียงราย' : 'เชียงราย' ,
                                        'เชียงใหม่' : 'เชียงใหม่' , 
                                        'เชียรใหญ่' : 'เชียงใหม่' , 
                                        'เชีียงราย' : 'เชียงราย' ,
                                        'เชีียงใหม่' : 'เชียงใหม่' , 
                                        'เด่นชัย' : 'แพร่' ,
                                        'เพขรบุรี' : 'เพชรบุรี' ,
                                        'เพขรบูรณื' : 'เพชรบูรณ์' ,
                                        'เพขรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบุรี' : 'เพชรบุรี' ,
                                        'เพชรบุรึ' : 'เพชรบุรี' ,
                                        'เพชรบุุรี' : 'เพชรบุรี' ,
                                        'เพชรบุูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์' : 'เพชรบูรณ์' ,
                                        'เพชรบูรณ์\xa0' : 'เพชรบูรณ์' ,
                                        'เพชรบูร์' : 'เพชรบูรณ์' ,
                                        'เพชรบููรณ์' : 'เพชรบูรณ์' ,
                                        'เมือง' : 'อื่นๆ' ,
                                        'เมืองตาก' : 'ตาก' ,
                                        'เมืองน่าน' : 'น่าน' ,
                                        'เมืองปัตตานี' : 'ปัตตานี' ,
                                        'เรือ' : 'อื่นๆ' ,
                                        'เลย' : 'เลย' ,
                                        'เลย\xa0' : 'เลย' ,
                                        'เวียงจันทร์' : 'อื่นๆ' ,
                                        'เวียงสา' : 'น่าน' ,
                                        'แพร่' : 'แพร่' ,
                                        'แม่ทะ' : 'ลำปาง' ,
                                        'แม่ฮ่องสอน' : 'แม่ฮ่องสอน' ,
                                        'แล้วป่วย' : 'อื่นๆ' ,
                                        'โพธิ์ทอง' : 'อ่างทอง' ,
                                        'ไชโย' : 'อ่างทอง' ,
                                        'ไม่มีชื่อหอพัก' : 'อื่นๆ' ,
                                        'ไม่ระบุ' : 'อื่นๆ'}, inplace=True)

In [50]:
len(set(datamix['province_of_onset']))    # ดูว่าข้อมูลใน province_of_onset มีกี่ค่า

78

### แทนค่า missing ของ nationality และ risk ด้วย class ใหม่

In [43]:
datamix = datamix.fillna(value={'nationality':'ไม่ระบุ','risk':'ไม่ระบุ'}) # แทนค่า 'ไม่ระบุ' ที่แสดง missing ในคอลัมน์ nationality และ risk
datamix

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร,NaN

In [51]:
datamix.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                      False
age                       True
Unit                      True
nationality              False
province_of_isolation     True
risk                     False
province_of_onset        False
district_of_onset         True
dtype: bool

In [52]:
datamix = datamix[['No.','announce_date','sex','nationality','risk','province_of_onset']] # เลือก column ที่จะแสดง
datamix

,No.,announce_date,sex,nationality,risk,province_of_onset
0,1,12/1/2020,หญิง,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
1,2,17/1/2020,หญิง,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
2,3,22/1/2020,หญิง,Thailand,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม
3,4,22/1/2020,ชาย,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
4,5,24/1/2020,หญิง,China,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร
...,...,...,...,...,...,...
433548,3303165,18/3/2022,หญิง,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433549,3303166,18/3/2022,หญิง,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433550,3303167,18/3/2022,หญิง,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433551,3303168,18/3/2022,หญิง,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร
433552,3303169,18/3/2022,หญิง,ไม่ระบุ,ทัณฑสถาน/เรือนจำ,กรุงเทพมหานคร

# โหลดข้อมูลการแบ่งตามภูมิภาคของประเทศไทย